@model IEnumerable<Proyecto_SGC.Curso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreCurso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Creditos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanEstudio.NombrePlanEstudio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCurso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Creditos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanEstudio.NombrePlanEstudio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Curso }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Curso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Curso })
        </td>
    </tr>
}

</table>
