@model IEnumerable<Proyecto_SGC.Curso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="grid-body">
    <h2>Cursos</h2>

    @if (User.IsInRole("Academico"))
    {

        <p>
            @Html.ActionLink("Crear", "Create")
        </p>
    }
<table class="table table-striped table-hover">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Precio
        </th>
        <th>
            Créditos
        </th>
        <th>
            Plan de Estudio
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creditos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanEstudio.NombrePlanEstudio)
            </td>
            @if (User.IsInRole("Academico"))
            {
                <td class="pull-right">

                    @Html.ActionLink("Ver", "Details", new { id = item.ID_Curso }, new { @class = " btn btn-warning" }) 
                    @Html.ActionLink("Modificar", "Edit", new { id = item.ID_Curso }, new { @class = " btn btn-info" }) 
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_Curso }, new { @class = " btn btn-danger", @data_toggle = "modal", @data_target = "#deleteDepartamento" })
                </td>
            }
        </tr>
    }

</table>
</div>
