<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '0739c346-73aa-49ab-9958-7c2a4704377a', f: true }); done = true; } }; })();</script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Seminario Metodista", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                @if ((User.Identity.IsAuthenticated))
                {
                    <ul class="nav navbar-nav">

                        <li class="Dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gestión<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @if  (User.IsInRole("Academico") || (User.IsInRole("Estudiante")))
                                {
                                    <li class="menu-item">@Html.ActionLink("Planes de Estudio", "Index", "PlanEstudio")</li>
                                    <li class="menu-item">@Html.ActionLink("Cursos", "Index", "Curso")</li>
                                }
                                @if (User.IsInRole("Admin"))
                                {


                                    <li class="menu-item">@Html.ActionLink("Registro de Usuarios", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                }
                                <li class="divider"></li>
                                <li></li>
                            </ul>

                        </li>
                    </ul>
                }
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema Gestión Matrículas Seminario Metodista</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
